%li{ id: "book_#{book.isbn.upcase}" }
  %p.title= book.title
  %p.isbn= book.isbn
  %p.user
    = book.user.username
    already read.
    = link_to 'See more', book_path(book)
  %p.rating= render 'rating', book: book
  - if user_signed_in?
    %p.grade
      - if book.ratings.where(user_id: current_user.id).blank?
        = form_for [book, book.ratings.build], remote: true do |f|
          Already read?
          %br
          Give your grade to this book:
          %br
          = f.text_field :grade
          = f.submit 'Confirm'
      - else
        You already gave a grade for this book!
